.vs/*
v16
/BardzoSiszarpowaGra/bin
!/BardzoSiszarpowaGra/bin/Debug/netcoreapp3.1/dialogue
/BardzoSiszarpowaGra/obj
.vs/BardzoSiszarpowaGra/v16/.suo
.vs/BardzoSiszarpowaGra/v16/Browse.VC.db-shm
BardzoSiszarpowaGra/obj/Debug/netcoreapp3.1/BardzoSiszarpowaGra.csprojAssemblyReference.cache
